In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.581128 -0.822611
1    a  two  0.708465  0.360703
2    b  one -0.064265  1.037777
3    b  two -0.173536  0.847078
4    a  one  0.369680  0.590427

In [2]:
# Series Groupby
display(df['data1'])
display(df['key1'])
df['data1'].groupby(df['key1']) #Series執行Groupby
df['data1'].groupby(df['key1']).mean()

0    0.581128
1    0.708465
2   -0.064265
3   -0.173536
4    0.369680
Name: data1, dtype: float64

0    a
1    a
2    b
3    b
4    a
Name: key1, dtype: object

key1
a    0.553091
b   -0.118901
Name: data1, dtype: float64

In [3]:
df['data1'].groupby(df['key1']).agg(['mean', 'std'])

          mean       std
key1
a     0.553091  0.171124
b    -0.118901  0.077266

In [ ]:
#長資料表(堆疊資料表)
mean = df['data1'].groupby([df['key1'], df['key2']]).mean()
mean

key1  key2
a     one     0.475404
      two     0.708465
b     one    -0.064265
      two    -0.173536
Name: data1, dtype: float64

In [ ]:
mean.unstack() #寬資料表(非堆疊資料表)，.stack可以轉換長資料表

key2       one       two
key1
a     0.475404  0.708465
b    -0.064265 -0.173536